
.tabs_wrapper {
	-moz-box-shadow: 0 0 2px #ccc;
	-webkit-box-shadow: 0 0 2px #ccc;
	box-shadow: 0 0 2px #ccc;

	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;

	background-color: #fafafa;
	
	margin: 1px 1px 3px 1px;
	padding: 1px 1px 1px 1px;
}

.tabs_list_outer {
	border-bottom: 1px solid #ccc;
}

.tabs_list_container {
	padding: 5px 0 4px 0;
	margin: 0 0 0 10px;
}

.tabs_list .tabs_pull_right span {
	display: inline;
	background-color: #eeeeee;
}

.tabs_list {
	display: inline;
}

.tabs_list a {
	border: 1px solid #ccc;
	padding: 4px 6px;
	text-decoration: none;
	background-color: #eeeeee;
	border-bottom: none;
	outline: none;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-radius: 5px 5px 0 0;
}

.tabs_list a:hover {
	background-color: #dddddd;
}

.tabs_list.active a {
	border-bottom: 1px solid #fff;
	background-color: #fff;
	padding: 4px 6px 5px 6px;
}

.tabs_list.active a:hover {
}

.tabs_list a.icon_accept {
	background-image: url('accept.png');
	background-position: 5px;
	background-repeat: no-repeat;
	padding-left: 24px;
}

.tabs_list a.icon_accept:hover {
	padding-left: 24px;
}

.tabs_nav {
  float: right !important;
  padding: 0px 3px 0px 0px;
  position: relative;
  display: block;
  vertical-align: middle;
}
  
.tabs_nav a:focus {
  background-color: transparent;
}

.tabs_content_container {
	border: 1px solid #ccc;
	border-top: none;
	padding: 3px;
}

.tabs_content {
	display: none;
}
